/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  background-color: orange;
  margin-bottom: 0;
  border-radius: 0;
  text-emphasis-color: yellow;
  color: orange;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url('https://ca.slack-edge.com/TUB168VFW-UTZMKE2GJ-f21cea181461-512background.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: orange;
  text-decoration-color: black;
  padding: 20px;
  color: orange;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  max-height: 600px;
  object-fit: cover;
}

.project.img {
object-fit: cover;
width: 100%;
max-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 800px) {
.carousel-caption {
  display: none;
}
}
